@tailwind base;
@tailwind components;
@tailwind utilities;

.sb-show-main.sb-main-padded {
	padding: 0;
}

html,
body,
#app {
	width: 100%;
	height: 100%;
	background: #fff;
	transition: 0.5s;
}

html.dark #app {
	background: #333;
}
html.dark {
	background: #333;
}

html.dark body {
	width: 100%;
	height: 100%;
	background: #333;
	transition: 0.5s;
}

@keyframes move {
	0% {
		left: 0;
	}
	50% {
		left: 400px;
	}
	100% {
		left: 0;
	}
}
.animate-move {
	animation: move 1s ease-in-out infinite -2s;
}

.text-rtl {
	direction: rtl;
}
